<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>
	<head>
        <link rel="stylesheet" href="/static/webix/codebase/skins/webix.css" type="text/css" media="screen" charset="utf-8">
        <script src="/static/webix/codebase/webix.js" type="text/javascript"  charset="utf-8"></script>

        <style>@font-face{font-family: 'D2Coding';src: url(/static/D2Coding.woff) format('woff');}
            body, table, div, p, h1, h2, h3, h4, h5, h6, pre {font-family:'D2Coding';}</style>
    		
        <script src="/view/common.js" type="text/javascript"  charset="utf-8"></script>
        <script src="/view/rt1040.js" type="text/javascript"  charset="utf-8"></script>

<body>

           
<script>

    webix.skin.compact.barHeight=28;webix.skin.compact.tabbarHeight=28;webix.skin.compact.rowHeight=22;webix.skin.compact.listItemHeight=28;webix.skin.compact.inputHeight=28;webix.skin.compact.layoutMargin.wide=2;webix.skin.compact.layoutMargin.space=5;webix.skin.compact.layoutPadding.space=3;
    webix.skin.set('compact');    

    webix.ready(function()
    {   
        
        webix.ui({view:"popup",	id:"pop_1", head:"Submenu", width:180,
            body:{view:"list", id:"list_1", data:[ 
                                            {id:"2", location:"주가 차트 팝업"},
                                            {id:"22", location:"거래 차트 팝업"},
                                            ],
                datatype:"json", template:"#location#",	select:true, autoheight:true,
            }
        });

        var main_view =
        {
            type:"space",
            rows:
            [
                    {view:"datatable", id:"grid_1", resizeColumn:true, autoConfig:true, select:true},
                    { view:"resizer"},
                    {view:"datatable", id:"grid_2", resizeColumn:true, autoConfig:true, select:true},
            ]
        };

        var bar_select =
        {
            cols:
            [
                {
                    view:"radio", id:"radiobox_1", value:11,  options:
                    [
                        { value:"(거래)시장", id:11 },
                        { value:"(거래)업종", id:12 },
                        { value:"(거래)테마", id:13 },
                        { value:"(거래)종목", id:10 },
                        { value:"(등락)시장", id:21 },
                        { value:"(등락)업종", id:22 },
                        { value:"(등락)테마", id:23 },
                        { value:"(등락)종목", id:20 },
                    ]
                },
                {
                    rows:
                    [
                        {
                            view:"radio", id:"radiobox_21", value:2,  width:200, options:
                            [
                                { value:"수량", id:1 },
                                { value:"금액", id:2 },
                            ]
                        },
                        {
                            view:"radio", id:"radiobox_22", value:1,  width:200, options:
                            [
                                { value:"grid1", id:1 },
                                { value:"grid2", id:2 },
                            ]
                        }
                    ]   
                }
            ]
        };
        
        webix.ui(
        {
            rows:
            [
                bar_top, 
                main_view,
                {
                    view:"toolbar", elements:
                    [
                        bar_buttom_1,
                        bar_select,
                        { view:"button", value:"검색", click:"gogo_search()", width:60},
                        { view:"button", value:"확장", click:"gogo_ext()", width:60},
                    ]    
                }
            ]
        });    

        $$("text_jong_name").attachEvent("onTimedKeyPress",function()
        {
            var value = this.getValue().toLowerCase();
            $$("grid_1").filter(function(obj){
                return obj.기준.toLowerCase().indexOf(value)!=-1;
            });       

            $$("grid_2").filter(function(obj){
                return obj.기준.toLowerCase().indexOf(value)!=-1;
            });       
        });        

        $$("grid_1").attachEvent("onItemClick", function(id, e, node)
        {
            var grid = $$("grid_1")
            for (i=0 ; i<$$("grid_2").count() ; i++)
            {
                if (grid.getItem(id).기준 == $$("grid_2").getItem($$("grid_2").getIdByIndex(i)).기준)
                {
                    $$("grid_2").select($$("grid_2").getIdByIndex(i));
                    break;
                }
            }
        });  


        $$("grid_2").attachEvent("onItemClick", function(id, e, node)
        {
            var grid = $$("grid_2")
            for (i=0 ; i<$$("grid_1").count() ; i++)
            {
                if (grid.getItem(id).기준 == $$("grid_1").getItem($$("grid_1").getIdByIndex(i)).기준)
                {
                    $$("grid_1").select($$("grid_1").getIdByIndex(i));
                    break;
                }
            }
        });        

        var temp_jong_code = "";
        $$("grid_1").attachEvent("onItemDblClick", function(id, e, node)
        {
            if (is_jong_code($$("grid_1")))
            {
                temp_jong_code = $$("grid_1").getItem(id).단축코드;
                $$('pop_1').show(node);
            }                
        });          

        $$("grid_2").attachEvent("onItemDblClick", function(id, e, node)
        {
            if (is_jong_code($$("grid_2")))
            {
                temp_jong_code = $$("grid_2").getItem(id).단축코드;
                $$('pop_1').show(node);
            }                
        });          

        $$("list_1").attachEvent("onItemClick", function(id, e, node){
            if (id === '2'){open_chart_window(temp_jong_code
                                                  ,$$('day_start').getValue()
                                                  ,$$('day_end').getValue() );
            }
            else if (id === '22'){open_ger_chart_window(temp_jong_code
                                                  ,$$('day_start').getValue()
                                                  ,$$('day_end').getValue() );
            }
        });


        start_page();
    });  

</script>

</body>
</html>